.payment-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: #ffffff;
    .payment {
        h4 {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        text-align: center;
        .app-name {
            margin-left: 5px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            color: #EE4622;
            span {
                color: #ffffff;
            }
        }
        .desc {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 50px;
        }
        .contact {
            display: flex;
            align-items: center;
            justify-content: center;
            .number {
                margin-left: 5px;
                font-size: 18px;
                font-weight: 500;
            }
        }
        .form-payment {
            padding: 10px 145px;
            .img-preview {
                margin-left: 60px;
                width: 150px;
                margin-top: 15px;
                border: 1px solid #ffffff;
                height: 150px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .submit {
                margin-top: 20px;
            }
        }
    }
}














